@import "tailwindcss";
@import "@nuxt/ui";

* {
  box-sizing: border-box;
  font-family: var(--font-default), sans-serif;
}

@theme {
  --color-brown-plain: 255, 168, 106;
  --color-brown: rgb(var(--color-brown-plain));

  --font-default: Inter, sans-serif;
  --font-styled: Forum, sans-serif;
}

@utility container {
  margin-inline: auto;
  padding-inline: 5px;
  @apply md:max-w-[70%] max-w-[80%];
}
